/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('../imagenes/imagen5.jpg'); /* Imagen de fondo */
    background-size: cover; /* Cubrir toda la página */
    background-position: center center; /* Centrar la imagen */
    background-attachment: fixed; /* Mantener la imagen fija al hacer scroll */
}

.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro para mejorar contraste con el texto */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table input {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button#aceptarBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button#aceptarBtn:hover {
    background-color: #45a049;
}

button#salirBtn {
    background-color: #FF5733;
    color: white;
    border: none;
}

button#salirBtn:hover {
    background-color: #e94e2b;
}
