body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: transparent; /* Para evitar que tenga color de fondo */
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s; /* Para el efecto de ocultar/mostrar el menú */
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.form-container {
    margin-top: 60px; /* Para que el formulario no se sobreponga con el menú */
    display: none;
}

#formUsuarioSesion,
#formLicitadorSesion {
    display: none;
}

.text-content h1 {
    font-size: 2rem;
    margin: 20px 0;
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* Cuando el cursor se acerque a la parte superior, el menú aparecerá */
body:hover .menu {
    top: 0;
}

/* Cuando el cursor se aleja, el menú se ocultará */
body {
    margin-top: 60px;
}

body:hover {
    margin-top: 0;
}
